<div class="bg-neutral-200 py-12 w-screen -mx-4">
  <div class="text-center space-y-4">
    <img src="<%= asset_path('demo.gif') %>" alt="アプリデモ" class="mx-auto">
    <div class="font-serif text-lg text-red-950">
      <p>毎日の体調をさくっと記録。</p>
      <p>顔アイコンで「調子」を選ぶだけで、</p>
      <p>簡単にゆらぎ日記がつけられます。</p>
    </div>
  </div>
</div>
