<div class="bg-neutral-300 relative w-full h-screen overflow-hidden">
  <div class="px-8">
    <h1 class="text-lg text-gray-700 font-serif font-medium my-8 ">ゆらぎ日記一覧</h1>
<% if @diaries.present? %>
          <%= render @diaries %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
  </div>
</div>
